[Desktop Entry]
Type=Application
Version=1.0
Name=Neovim in Foot
GenericName=Text Editor
Comment=Edit files in Neovim using Foot
Exec=foot -e nvim %F
Terminal=false
NoDisplay=true
Icon=foot
Categories=Utility;TextEditor;TerminalEmulator;
MimeType=text/plain;text/markdown;text/x-readme;text/x-log;text/x-python;text/x-c;text/x-c++src;text/x-csrc;text/x-chdr;text/x-java;text/x-script.python;text/x-shellscript;application/json;application/xml;application/x-yaml;application/yaml;
StartupNotify=false
